// ## Colors

// ### Primary

$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);

// ### neutral
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

//fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$heading: "DM Serif Display", serif;
$bodyfont: "Karla", sans-serif;
